body {
    margin: 0;
}

#container {
    position: relative;
}

.contourmap-canvas {
    position: absolute;
    z-index: -1;
}

form {
    user-select: none;
}

.item {
    width: 50%;
    float: left;
    box-sizing: border-box;
    max-width: 600px;
}

.item:nth-child(odd) {
    clear: left;
}

@media (width <= 800px) {
    .item {
        width: 100%;
        clear: none;
    }
}
